<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Redirigir las solicitudes a la carpeta "public"
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
